
<div *ngIf="!isLogin; else loggedOut2">
</div>

<ng-template #loggedOut2>
<div class="container"  *ngIf="isLogin" >
    <div class="row justify-content-center " >
        <div class="col-6 ">

            <div id="carouselExampleCaptions"
                class="carousel slide w-30 h-100 " data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0"
                        class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                       <img (click)="listarMedicos()"
                            src="../../assets/img/medicos.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>Medicos</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img (click)="listarPacientes()"
                            src="../../assets/img/paciente.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>Pacientes</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img (click)="listarCitas()"
                           src="../../assets/img/citas.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>Citas</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions"
                    role="button" data-slide="prev"> <span
                    class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                    class="sr-only">Previous</span>
                </a> <a class="carousel-control-next" href="#carouselExampleCaptions"
                    role="button" data-slide="next"> <span
                    class="carousel-control-next-icon" aria-hidden="true"></span> <span
                    class="sr-only">Next</span>
                </a>
            </div>


        </div>
    </div>
</div>
</ng-template>