<nav class="navbar navbar-expand-md navbar-dark navbar-custom p-0  mb-2">
  <a class="navbar-brand" href="">
    <img src="{{rutaLogo}}" width="100" height="50" alt="CafamLogo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav ml-auto">
      <li *ngIf="isLogin" class="nav-item dropdown">
        <a class="nav-link" id="logOut" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{currentUser}}
          <span *ngIf="newMessage > 0" class="badge">{{newMessage}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
         
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor: pointer;" (click)="logOut()" routerLink="/">Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>