<div *ngIf="isLogged; else loggedOut">
</div>


<ng-template #loggedOut>
    <div *ngIf="!isLogged" class="container">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Icon -->
                <div class="fadeIn first">
                    <img class="responsive-img" src="{{rutaLogo}}" id="icon" alt="User Icon" />
                </div>
                <!-- Login Form -->
                <form name="form" #f="ngForm" novalidate (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <input type="text" class="form-control" id="domain" name="domain" placeholder="Usuario" [(ngModel)]="form.domain" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" [(ngModel)]="form.password" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="loginButton" [disabled]="!f.valid">Iniciar Sesión</button>
                        <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">Error al Iniciar sesión: {{ errorMsg }}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

