h1,
h5 {
    text-align: center;
    font-family: "DIN Next Rounded LT Pro Bold", sans-serif;
}

h4 {
    font-family: "DIN Next Rounded LT Pro Light", sans-serif;
    text-align: center;
  }  

table {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

table thead tr {
    height: 60px;
    background: #164194;
    font-family: "DIN Next Rounded LT Pro Regular", sans-serif;
    font-size: 25px;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    color: #706f6f;
    font-family: "DIN Next Rounded LT Pro Light", sans-serif;
}

tbody tr:hover {
    color: #000000;
    background-color: #f5f5f5;
    cursor: pointer;
}

#edit,
#delete {
    color: #164194;
    font-size: 30px;
}

#edit:hover,
#delete:hover {
    color: #0f4068;
    font-size: 32px;
}

#new {
    background-color: #16b1a9;
    border: #16b1a9 solid 1px;
    font-family: "DIN Next Rounded LT Pro Medium", sans-serif;
}

#new:hover {
    background-color: #0085ba;
    border: #0085ba solid 1px;
}

label,
input,
select {
    font-family: "DIN Next Rounded LT Pro Light", sans-serif;
    color: #adadad;
}

input,
select {
    border: #adadad solid 1px;
}

.btn-success {
    background-color: #16b1a9;
    border: #16b1a9 solid 1px;
    font-family: "DIN Next Rounded LT Pro Medium", sans-serif;
}

.btn-secondary {
    background-color: #706f6f;
    border: #706f6f solid 1px;
    font-family: "DIN Next Rounded LT Pro Medium", sans-serif;
}

.btn-success:hover {
    background-color: #0085ba;
    border: #0085ba solid 1px;
    font-family: "DIN Next Rounded LT Pro Medium", sans-serif;
}

.btn-secondary:hover {
    background-color: #adadad;
    border: #adadad solid 1px;
    font-family: "DIN Next Rounded LT Pro Medium", sans-serif;
}